.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
    align-items: center;
}

.intro-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}